{% load staticfiles %}
{% load spotlights %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'spotlights/spotlights-styles.css' %}">
    </head>

    <body>
        <div class="main-container">
            <header>
                <a href="{{display_admin_url}}">{{display_admin_url}}</a>
            </header>

            <main> 
                {% render_slide request=request slide=item %}
            </main>

        </div>

        <script>
            var msPerSlide = 2 * 1000;
            var msPerFade = 4 * 1000; // per spotlights-styles.css
            var slideBody = document.querySelector('.slide-body');
            setTimeout(function() {
                slideBody.className = slideBody.className.replace(
                    'fade-in', 'fade-out');
                setTimeout(function() {
                    location.reload();
                }, msPerFade)
            }, msPerFade + msPerSlide);
        </script>

    </body>
</html>
