{% load staticfiles %}
{% load spotlights %}

<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'spotlights/spotlights-styles.css' %}">
    </head>

    <body>
        <div class="main-container">
            <header>
                CHANNEL: {{mixchannel.title}}
                <span style="float: right;"> manage this channel:
                    <a href="{{channel_admin_url}}">{{ request.get_host }}{{channel_admin_url}}</a>
                </span>
            </header>

            <main> 
                {% render_slide request=request slide=slide %}
            </main>

        </div>
    </body>
</html>
