<div class="slide-container">
    <div class="slide-body fade-in">
        <div class="slide-figure-container">
            <div class="slide-figure">
                {% if slide_type == 'ImageSlide' %}
                <div class="slide-img-container">
                    <img class="slide-img"
                        src="{{slide.mageslide.image_file.url}}" />
                </div>
                {% elif slide_type == 'UrlSlide' %}
                <iframe src="{{slide.urlslide.url}}"
                    style="position: absolute; width: 100%; height: 100%;"
                    ></iframe>
                {% else %}
                No content for slide.
                {% endif %}
            </div>
            <div class="slide-caption-container">
                <div class="slide-caption">
                    {{slide.caption}}
                </div>
            </div>
        </div>
    </div>

    <div class="slide-footer">
        <div class="attribute">
            <label>ID</label>
            <div class="value">
                {{ slide.id }} 
            </div>
        </div>

        <div class="attribute">
            <label>Title</label>
            <div class="value">
                {{ slide.title }} 
            </div>
        </div>

        <div class="attribute">
            <label>Author</label>
            <div class="value">{{slide.author.username}}</div>
        </div>

        <div class="attribute">
            <label>Published</label>
            <div class="value">
                {{ slide.created|date:"D, N d, h:m A" }}
            </div>
        </div>

    </div>
</div>
